services:
  postgres:
    profiles: ["dev"]
    restart: on-failure
    image: postgres:latest
    container_name: postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_URL: ${POSTGRES_URL}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - ./postgres-data:/var/lib/postgresql
    ports:
      - ${POSTGRES_PORT}:5432
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres" ]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - bank-app


  bank-rest-container:
    profiles: ["dev"]
    build: .
    restart: on-failure
    env_file: .env
    ports:
      - "8080:8080"
    networks:
      - bank-app

volumes:
  postgres-data:

networks:
  bank-app:
    driver: bridge